pyrogram
tgcrypto
pickle5==0.0.11
telegraph
pykeyboard==0.1.5
halo==0.0.31
Wand==0.6.8
tensorflow-cpu
requests
SpeechRecognition
pydub
python-dotenv
gTTS
Pillow
bs4
ttconv
py2many
pyzbar
pyinstaller
asteval
arrow
plotly
kaleido
websocket-client
flask
